.navbar {
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.search-form {
  display: flex;
  flex-direction: row;
}

.search-form p {
  color: #666;
  display: inline;
  white-space: nowrap;
  flex: 0 0 auto;
  margin-right: 10px;
}

.search-form-btn {
  border: none;
  border-radius: 50%;
  background-color: #ffd935;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.search-form input[type="text"] {
  flex-grow: 1;
  border-color: #333;
  background: none;
  outline: none;
  padding: 8px;
  border-radius: 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fa7268;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.nav-links li {
  padding: 10px 15px;
}

.nav-links li a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover,
.nav-links li a:focus {
  color: #fa7268;
}
